@model UserViewModel

<div class="card">
    <div class="card-body">
        <h5 class="card-title">User Details</h5>
        <dl class="row">
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9">@Model.Id</dd>

            <dt class="col-sm-3">First Name</dt>
            <dd class="col-sm-9">@Model.Fname</dd>

            <dt class="col-sm-3">Last Name</dt>
            <dd class="col-sm-9">@Model.Lname</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">@Model.Email</dd>

            <dt class="col-sm-3">Phone Number</dt>
            <dd class="col-sm-9">@Model.PhoneNumber</dd>

            <dt class="col-sm-3">Roles</dt>
            <dd class="col-sm-9">
                @if (Model.Roles != null && Model.Roles.Any())
                {
                    foreach (var role in Model.Roles)
                    {
                        <span class="badge bg-primary">@role</span>
                    }
                }
                else
                {
                    <span>No roles assigned</span>
                }
            </dd>
        </dl>
    </div>
</div>
